body {
    text-align: center;

    padding-top: 3rem;
}

input {
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 2rem;

}

button {
    width: 10vw;
    height: 5vh;
    border-radius: 5px;

}

p {
    font-size: 2rem;
}